<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cписок предметов</title>
    <style>
        .btn {
            display: inline-block; /* Строчно-блочный элемент */
            background: #8C959D; /* Серый цвет фона */
            color: #fff; /* Белый цвет текста */
            padding: 1rem 1.5rem; /* Поля вокруг текста */
            text-decoration: none; /* Убираем подчёркивание */
            border-radius: 3px; /* Скругляем уголки */
            margin-bottom: 10px;
            width: 150px;
        }
    </style>
</head>
<body>
<div>
    <h2>Cписок предметов</h2>
    <div th:each="subject:${subjects}">
        <a th:href="@{/class(subjectId=${subject.getId()})}" th:text="${subject.getTitle()}" class="btn"></a>
    </div>
</div>
</body>
</html>