<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>класс</title>
  <style>
    .btn {
      display: inline-block; /* Строчно-блочный элемент */
      background: #8C959D; /* Серый цвет фона */
      color: #fff; /* Белый цвет текста */
      padding: 1rem 1.5rem; /* Поля вокруг текста */
      text-decoration: none; /* Убираем подчёркивание */
      border-radius: 3px; /* Скругляем уголки */
      margin-bottom: 10px;
      width: 100px;
    }
  </style>
</head>
<body>
<h2 th:text="'Выберите класс '">test</h2>

<div th:each="class:${classList}">
  <a th:href="@{/pupil(classId=${class.getId()})}" th:text="${class.getNumber()} + ' класс'" class="btn"></a>
</div>

</body>
</html>